{% extends 'base.html' %}

{% load static %}

{% block wedding %} active  {% endblock %}

{% block title %} Out Door | Shoot{% endblock %}

{% block body %}
<br><br>
<div class="page-title">
<h1 > Wedding Shoot </h1>
</div>
<br>
<div class="shoot-L">

    <img src="{% static 'OutDoor/dl1.jpg' %}" alt="">
    <img src="{% static 'OutDoor/dl2.jpg' %}" alt="">
    <img src="{% static 'OutDoor/dl3.jpg' %}" alt="">
    <img src="{% static 'OutDoor/dl3.jpg' %}" alt="">
    <img src="{% static 'OutDoor/dl1.jpg' %}" alt="">
    <img src="{% static 'OutDoor/dl4.jpg' %}" alt="">

</div>


<div class="shoot-P">
    <img src="{% static 'OutDoor/dp1.jpg' %}" alt="">
    <img src="{% static 'OutDoor/dp2.jpg' %}" alt="">
    <img src="{% static 'OutDoor/dp3.jpg' %}" alt="">
    <img src="{% static 'OutDoor/dp1.jpg' %}" alt="">
    <img src="{% static 'OutDoor/dp5.jpg' %}" alt="">
    <img src="{% static 'OutDoor/dp2.jpg' %}" alt="">
    <img src="{% static 'OutDoor/dp1.jpg' %}" alt="">
    <img src="{% static 'OutDoor/dp3.jpg' %}" alt="">
</div>
{% endblock %}
